.mainNavigation {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logoSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoBox {
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* NAVIGATION BAR */

.userProfileImg:hover {
  cursor: pointer;
}

.navSidebar {
  position: fixed;
  top: 0;
  right: 0;
  /* Initially hidden */
  width: 260px;
  height: 260px;
  background-color: #8deabad1;
  padding: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 2;
  border-radius: 50% 0% 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: 1s;
}

.navSidebar:disabled {
  /* transition: 0.1s; */
}

.navSidebar ul {
  list-style-type: none;
  padding: 0;
}

.navSidebar ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.navSidebar ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}

#content {
  padding: 20px;
  margin-right: 280px;
  /* Adjust for the width of the sidebar */
  transition: margin-right 0.3s ease-in-out;
}
