.friendsList {
  list-style-type: none;
  /* margin: 10px; */
  height: 100%;
  padding: 2px;
  overflow: hidden;
  /* background-color: rgb(255, 255, 255); */
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc((100% - 30px) / 4), 1fr)
  );
  overflow: scroll;
  grid-gap: 20px;
}

.friendsList::-webkit-scrollbar {
  display: none;
}
