.friendItem {
  background-color: rgb(255, 255, 255);
  /* background-color: blueviolet; */
  width: 170px;
  height: 150px;
  /* height: 10vh; */
  border-radius: 12px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  /* display: flex; */
  /* border-bottom: 1px solid #ccc; */
  /* display: flex; */
}

.profilePicture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.usernameSection {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.profileCircle {
  width: 100px;
  height: 100px;
  background-color: grey;
  border-radius: 50%;
}
