.chat {
  /* background-color: red; */
  border-radius: 12px;
  display: grid;
  height: 79vh;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 75% 15%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.detailsSection {
  /* background-color: blue; */
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 12px 12px 0px 0px;
  display: grid;
  grid-template-columns: 10% auto auto;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.chatSection {
  /* background-color: green; */
  grid-area: 2 / 1 / 3 / 2;
  /* overflow: scroll;
  scrollbar-width: none; */
}

/* .chatSection::-webkit-scrollbar {
  display: none;
} */

.textSection {
  /* background-color: yellow; */
  grid-area: 3 / 1 / 4 / 2;
  border-radius: 0px 0px 12px 12px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  /* position: relative;
  display: inline-block; */
  /* flex: 1; */
}

.inputField {
  /* background-color: red; */
  width: 56vw;
  height: 30px;
  /* width: 100%; */
  /* Set the input field's width to 100% of its parent */
  font-size: 16px;
  padding: 10px;
  border: none;
  /* border: 1px solid #ccc; */
  border-radius: 5px 20px 20px 5px;
  /* background-color: #f9f9f9; */
  transition: border-color 0.2s ease-in-out;
  outline: none;
  /* Remove the default focus outline */
}

.inputField:focus {
  border-color: transparent;
  /* Set the border color to transparent */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  /* Add a box shadow for focus effect */
}

/* .buttonBox {
  background-color: white;
} */

.sendButton {
  /* padding: 10px 15px; */
  transform: translateX(-90%);
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  /* color: #fff; */
  border: none;
  border-radius: 50%;
  /* Rounded corners on the button */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CHAT OPTIONS */

.profilePictureBox {
  /* background-color: aquamarine; */
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 10px; */
}

.userNameBox {
  /* background-color: blueviolet; */
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.optionsBox {
  /* background-color: azure; */
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* margin-right: 10px; */
}

.optionsIcon {
  margin-right: 10px;
}

.userName {
  font-size: 20px;
}
